body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Override Bootstrap placeholder color */
:root {
  --placeholder-color: #F0DAAE;
  --placeholder-opacity: 1;
}

/* Override Bootstrap placeholder color */
.input-placeholder-custom::placeholder {
  color: var(--placeholder-color) !important;
  opacity: var(--placeholder-opacity) !important;
}
